*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    height: 100%;
    box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 2.7rem;
  box-sizing: inherit;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 3;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
.nav-menu{
  display: flex;
  align-items: end;
  height: 100%;
}
.logo{
  width: 30px;
  height: 30px;
}
.nav-branding{
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-link{
  font-size: 1.2rem;
  transition: 0.7s ease;
  cursor: pointer;
  padding:15px 20px 15px 20px;
  height: 100%;
}
.nav-link:hover{
  background-color: rgb(2, 83, 101);
  color: aliceblue;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(2, 83, 101);
}

/* footer css */

.footer{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow:2px 2px 6px 6px rgb(19, 1, 92);
  }

/* index css */

.ind{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px;
  padding-bottom: 0;
}
.ind-content{
  flex-grow: 1;
  flex-basis: 500px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: blue;
  
}
.ind-img{
  flex-grow: 1;
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.st{
  font-weight: bold;
  font-size: 5vw;
}
.take{
  font-size: 4.5vw;
  display: flex;
  flex-direction: row;
  font-weight: lighter;
}
.take span{
  font-weight: bold;
}
.ind-img img{
  object-fit: cover;
}
.st2{
  font-weight: bold;
  font-size: 6.25vw;
}
.btn{
  padding: 10px 50px 10px 50px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  font-size: 20px;
  cursor: pointer;
}
.btn-logout{
  padding: 5px 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  font-size: 11px;
  cursor: pointer;
}

/* about page */

.about{
  background-color: rgb(2, 2, 61);
  font-size: 25px;
  color: white;
  padding: 70px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.left{
  background-color: white;
  color: rgb(1, 1, 54);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  gap: 10px;
  margin-bottom: 5px;
}
.right{
  background-color: white;
  color: rgb(1, 1, 54);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
  margin-bottom: 5px;
}
.right p{
  text-align: end;
  font-size: 22px;
  font-weight: light;
}
.left p{
  font-size: 22px;
  font-weight: light;
}


/* analysis page */

.analysis{
  font-size: 2vw;
  padding: 70px 30px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;

}
.form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
h3{
  color: blue;
}
.form-a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.form-a div{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}
label{
  font-size: 1.3vw;
  color: rgb(1, 1, 59);
}
.form-a div input{
  height: 45px;
  width: 30vw;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
input{
  min-width: 250px;
  border-style: none;
  box-shadow: inset 0px -3px 8px rgba(63, 63, 63, 0.8);
}
input::placeholder{
  padding: 15px;
  font-size: 18px;
}
.ana-img{
  width: 90%;
}
.ana-img img{
  width: 20vw;
  position: fixed;
}

/*Login Page*/

.login{
  padding: 30px 5px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  height: auto;
}
.div-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login h2{
  font-size: 40px;
  color: blue;
}

.box{
  border: 3px solid rgb(56, 136, 222);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2);
  min-width: 400px;
  max-width: 550px;
  width: 50vw;
  padding: 15px;
  box-shadow:6px 6px rgba(122, 120, 120, 0.2);
}
.input-group{
  margin: 15px;
  border-radius: 3px;
  padding: 5px 10px 10px 10px;
  box-shadow: inset 0px -3px 8px rgba(63, 63, 63, 0.8);
}
.input-field{
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  border-bottom: 2px solid black;
}
.input-field svg{
  margin-left: 15px;
  fill: #999;
}
.input-field img{
  margin-right: 15px;
  fill: #999;
}
.input-field input{
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding-left: 10px;
  font-size: 18px;
  box-shadow: inset 0px 0px 0px white;
}
#open{
  display: none;
  cursor: pointer;
}
#close{
  display: flex;
  cursor: pointer;
}

/* contact page */
.con-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.doc-detail{
  flex-grow: 1;
  flex-basis: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 320px;
}
.doc-img{
  width: 200px;
  margin-bottom: 20px;
}
.footer2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 38);
}

@media(max-width:1300px){
label{
  font-size: 1.6vw;
}
form div input{
  height: 45px;
  width: 32vw;
}
input::placeholder{
  padding: 15px;
}
.ana-img{
  width: 90%;
}
.ana-img img{
  width: 23vw;
  position: fixed;
}
}

@media (max-width:1122px){
  .st{
    font-size: 9vw;
  }
  .take{
    font-size: 7vw;
  }
  .st2{
    font-size: 12vw;
  }
  .ind-img{
    margin-bottom: 30px;
  }
  .form h3{
    font-size: 3.3vw;
  }
  label{
    font-size: 1.7vw;
  }
  form div input{
    height: 40px;
    width: 34vw;
  }
  input::placeholder{
    padding: 15px;
  }
  .ana-img{
    width: 90%;
  }
  .ana-img img{
    width: 22vw;
    position: fixed;
  }
}

@media(max-width:940px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar{
    justify-content: space-between;
  }
  .nav-menu{
    position: fixed;
    left: 100%;
    top: 28px;
    padding-top: 10px;
    gap: 0;
    flex-direction: column;
    background-color: none;
    width: 100%;
    text-align: initial;
    transition: 0.3s;
  }
  .nav-link{
    font-size: 15px;
    padding: 5px 10px 5px 10px;
  }
  .nav-item{
    margin: 10px 30px ;
  }
  .nav-menu.active{
    justify-content: initial;
    transform: translateX(-140px);
    width: fit-content;
    height: 100rem;
    background-color: white;
  }
  .logo{
    width: 20px;
    height: 20px;
  }
  .nav-branding{
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about{
    padding: 45px 30px 0px 30px;
  }
  label{
    font-size: 1.9vw;
  }
  form div input{
    height: 40px;
    width: 50vw;
  }
  input::placeholder{
    padding: 15px;
  }
  .ana-img{
    width: 90%;
  }
  .ana-img img{
    width: 22vw;
    position: fixed;
  }
}
@media(max-width:700px){
  .ind-img img{
    height: 80%;
    width: 80%;
  }
  .btn{
    padding: 8px 40px 8px 40px;
    font-size: 15px;
  }
  .form h3{
    font-size: 4.3vw;
  }
  label{
    font-size: 3.3vw;
  }
  form div input{
    height: 40px;
    width: 70vw;
  }
  .form{
    align-items: center;
  }
  input::placeholder{
    padding: 15px;
  }
  .ana-img{
    display: none;
  }
  .about{
    font-size: 20px;
  }
  .left{
    border-radius: 10px;
  }
  .right{
    border-radius: 10px;
  }
  .right p{
    font-size: 18px;
  }
  .left p{
    font-size: 18px;
  }
  .login{
    min-height: 90vh;
    height: auto;
  }
}
@media(max-width:500px){
  .login h2{
    font-size: 30px;
  }
  .ind{
    padding: 40px 10px 10px 10px;
  }
  .box{
    min-width: 250px;
    width: 70vw;
  }
  .input-group{
    margin: 7px;
    padding: 3px 7px 7px 7px;
  }
  .input-field{
    gap: 7px;
    height: 30px;
  }
  .input-field svg{
    margin-left: 0px;
    width: 14px !important;
  }
  .input-field img{
    margin-right: 0px;
    width: 18px !important;
  }
  .input-field input{
    min-width: 150px;
  }
  .box p{
    font-size: 11px;
  }
  .box a{
    font-size: 11px;
  }
  .box h3{
    font-size: 13px !important;
  }
  #gender{
    min-width: 11px !important;
    width: 11px !important;
  }
  .radio{
    font-size: 12px !important;
  }
  .radio label{
    font-size: 12px !important;
  }
  .st{
    font-size: 45px;
  }
  .take{
    font-size: 35px;
  }
  .st2{
    font-size: 60px;
  }
}
@media(max-width:400px){
  label{
    font-size: 3.7vw;
  }
  form div input{
    height: 30px;
    width: 80vw;
  }
}
@media(max-width:370px){
  .login h2{
    font-size: 25px;
  }
  .st{
    font-size: 36px;
  }
  .take{
    font-size: 28px;
  }
  .st2{
    font-size: 48px;
  }
  .ind-img{
    margin-bottom: 30px;
  }
  .btn{
    padding: 6px 36px 6px 36px;
    font-size: 10px;
  }
  .ind-img img{
    height: 100%;
    width: 100%;
  }
  input{
    min-width: 230px;
  }
  .input-field input{
    min-width: 150px;
  }
  
}

