{% extends 'base.html' %}

{% block title %}
ABOUT
{% endblock title %}


{% block body %}

<main class="about">
    <h2>ABOUT</h2>
    <div class="content">
    <div class="left">
        <h3>Welcome to SugarHealth</h3>
        <p>At SugarHealth, we are dedicated to leveraging the power of machine learning to improve healthcare and make a positive impact on people's lives. Our mission is to provide a reliable and user-friendly tool for predicting the likelihood of diabetes in individuals, based on essential health parameters.
        </p>
    </div>
    <div class="right">
        <h3>Why Diabetes?</h3>
        <p>Diabetes is a global health concern, affecting millions of people worldwide. Early detection and management are crucial for preventing complications and ensuring a higher quality of life for those affected by this condition. Our model aims to assist healthcare professionals and individuals in assessing diabetes risk promptly.
        </p>
    </div>
    <div class="left">
        <h3>The Science Behind Our Model
        </h3>
        <p>Our machine learning model has been meticulously trained on a diverse dataset of health records, which include vital features such as blood pressure, insulin levels, BMI, and more. These parameters have been shown to be key indicators of diabetes risk.

            Using advanced algorithms and statistical analysis, our model has learned to recognize patterns and relationships within these parameters, allowing it to make accurate predictions. It continually refines itself with new data, ensuring its predictions remain up-to-date and reliable.
            </p>
    </div>
    <div class="right">
        <h3>How to Use Our Diabetes Prediction Model?
        </h3>
        <p>Using our model is as simple as inputting your health information into our user-friendly interface. We'll guide you through the process, step by step, and then provide you with a risk assessment. Please remember that our predictions are not a substitute for professional medical advice, diagnosis, or treatment. Always consult with a healthcare expert for personalized guidance.
        </p>
    </div>
    <div class="left">
        <h3>Privacy and Security
        </h3>
        <p>We take your privacy and data security seriously. Our website adheres to strict privacy policies, and all data you input is anonymized and stored securely. We do not share your data with third parties, and our primary goal is to help you make informed decisions about your health.</p>
    </div>
    </div>
</main>

{% endblock body %}