{% extends 'base.html' %}

{% block title %}
ANALYSIS
{% endblock title %}

{% block body %}

<main class="analysis">
    <div class="ana-img">
        <img src="../static/doctor.png" alt="">
    </div>
    <div class="form">
        <h3>FILL IN THE DETAILS BELOW FOR ANALYSIS</h3>
        <form>
            <div>
                <label for="pregnancies">PREGNANCIES</label>
                <input type="text" id='pregnancies' placeholder="Enter the value">
            </div>
            <div>
                <label for="glucose">GLUCOSE LEVEL</label>
                <input type="text" id='glucose' placeholder="Enter the value">
            </div>
            <div>
                <label for="blood">BLOOD PRESSURE</label>
                <input type="text" id='blood' placeholder="Enter the value">
            </div>
            <div>
                <label for="skin">SKIN THICKNESS</label>
                <input type="text" id='skin' placeholder="Enter the value">
            </div>
            <div>
                <label for="insulin">INSULIN LEVEL</label>
                <input type="text" id='insulin' placeholder="Enter the value">
            </div>
            <div>
                <label for="bmi">BODY MASS INDEX (BMI)</label>
                <input type="text" id='bmi' placeholder="Enter the value">
            </div>
            <div>
                <label for="dia">DIABETES PEDIGREE FUNCTION</label>
                <input type="text" id='dia' placeholder="Enter the value">
            </div>
            <div>
                <label for="age">AGE</label>
                <input type="text" id='age' placeholder="Enter the value">
            </div>
            <div style="align-items: center; width: 60vw;"><a href="#"><button type="submit" class="btn">PREDICT →</button></a></div>
        </form>
    </div>
</main>

{% endblock body %}