<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="Website Icon" type="png" href="../static/logo.png">
  <title> {% block title %}{% endblock title %} | SugarHealth</title>
  
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/about" class="nav-branding">
        <img src="../static/logo.png" alt="logo" class="logo"><h3>SugarHealth</h3>
      </a>
    </nav>
  </header>
  
{% block body %}

{% endblock body %}

  <footer class="footer">
    <div class="copy">
      &copy; 2023 aiwithsahil
    </div>
  </footer>
  <script defer src="../static/script.js"></script>
</body>
</html>