{% extends 'base.html' %}

{% block title %}
CONTACT
{% endblock title %}

{% block body %}

<main class="ind">
    <center><h1 style="padding-bottom: 30px; color: blue;">CONTACT FOR DETAILED ANALYSIS</h1></center>
    <div class="con-container">
        <div class="doc-detail" style="border-left: 0px;">
            <img src="../static/Crying-Face-Emoji.png" class="doc-img">
            <span style="font-size: 17px; font-weight: 700;">Dr. Example1</span>
            <span style="font-size: 17px;">89347593842</span>
            <span style="font-size: 17px;">sduviufbq</span>
        </div>
        <div class="doc-detail">
            <img src="../static/Crying-Face-Emoji.png" class="doc-img">
            <span style="font-size: 17px; font-weight: 700;">Dr. Example2</span>
            <span style="font-size: 17px;">398450923</span>
            <span style="font-size: 17px;">ajsdbqi</span>
        </div>
        <div class="doc-detail">
            <img src="../static/Crying-Face-Emoji.png" class="doc-img">
            <span style="font-size: 17px; font-weight: 700;">Dr. Example3</span>
            <span style="font-size: 17px;">128934719283</span>
            <span style="font-size: 17px;">asjdbfiwe</span>
        </div>
    </div>
</main>
<footer class="footer2">
    <h2 style="color: white;">CONTACT US!</h2>
    <div class="con-container" style="color: white;">
        <div class="doc-detail" style="border-left: 0px; min-height: 170px;">
            <h3 style="color: white;">Sahil R. Murhekar</h3>
            <span style="font-size: 16px;">Dr. Example1</span>
            <span style="font-size: 16px;">89347593842</span>
            <span style="font-size: 16px;">sduviufbq</span>
        </div>
        <div class="doc-detail" style="min-height: 170px;">
            <h3 style="color: white;">Girendra Singh</h3>
            <span style="font-size: 16px;">Dr. Example2</span>
            <span style="font-size: 16px;">398450923</span>
            <span style="font-size: 16px;">ajsdbqi</span>
        </div>
        <div class="doc-detail" style="min-height: 170px;">
            <h3 style="color: white;">Girendra Singh</h3>
            <span style="font-size: 16px;">Dr. Example2</span>
            <span style="font-size: 16px;">398450923</span>
            <span style="font-size: 16px;">ajsdbqi</span>
        </div>
    </div>
</footer>

{% endblock body %}