{% extends 'base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block body %}

<main class="ind">
    <center><div class="ind-content">
        <div class="st">STAY SAFE!</div>
        <div class="take"><p>and</p><pre><p> </p></pre><span>TAKE CONTROL!</span></div>
        <div class="take"><p>over</p><pre><p> </p></pre><p>your</p></div>
        <div class="st2">SUGAR!!!</div>
    </div></center>
    <div class="ind-img">
        <img src="../static/doctors.png" alt="doctors">
        <a href="/analysis"><button type="submit" class="btn">GET STARTED →</button></a>
    </div>
</main>

{% endblock body %}