{% extends 'base2.html' %}

{% block title %}
CONGRATES
{% endblock title %}


{% block body %}

<main class="login">
    <div class="div-login">
        <h2>RESULT</h2>
        <div class="box">
            <center><img src="../static/flower.png" alt="flower" width="200px"></center>
            <center><h2>Congratulations!!</h2></center>
            <br>
            <p>Based on the information provided, our model does not indicates the presence of diabetes. However, remember that this is just one assessment. It's important to maintain a healthy lifestyle and consult your healthcare provider regularly to ensure your continued well-being.</p>
            <br>
                <center>
                    <a href="/"><button type="submit" class="btn">HOME →</button></a>
                </center>
        </div>
    </div>
</main>

{% endblock body %}