{% extends 'base2.html' %}

{% block title %}
SORRY
{% endblock title %}


{% block body %}

<main class="login">
    <div class="div-login">
        <h2>RESULT</h2>
        <div class="box">
            <center><img src="../static/Crying-Face-Emoji.png" alt="flower" width="200px"></center>
            <center><h2>We're Sorry!!</h2></center>
            <br>
            <p>Our analysis suggests a potential presence of diabetes based on the data provided. We recommend you to consult with a healthcare professional for further evaluation and guidance on managing your health. Early detection and proper care can make a significant difference in managing this condition.</p>
            <br>
                <center style="display: flex; justify-content: space-evenly; flex-wrap: wrap; gap: 5px;">
                    <a href="/contact"><button type="submit" class="btn">CONTACT →</button></a>
                    <a href="/"><button type="submit" class="btn">HOME →</button></a>
                </center>
        </div>
    </div>
</main>

{% endblock body %}